global
  #log 127.0.0.1 local0
  #log 127.0.0.1 local1 notice
  log /dev/log local2
  log-send-hostname
  maxconn 4096
  pidfile /var/run/haproxy.pid
  user haproxy
  group haproxy
  daemon
  stats socket /var/run/haproxy.stats level admin
  #auto scaling start
  stats socket /var/run/hapee-lb.sock mode 666 level admin
  stats socket ipv4@127.0.0.1:9999 level admin
  stats timeout 2m
  #auto scaling end
  ssl-default-bind-options no-sslv3
  ssl-default-bind-ciphers ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-
defaults
  balance roundrobin
  log global
  mode http
  option redispatch
  option httplog
  option dontlognull
  option forwardfor
  timeout connect 5000
  timeout client 50000
  timeout server 50000
listen stats
  bind :1936
  mode http
  stats enable
  timeout connect 10s
  timeout client 1m
  timeout server 1m
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth stats:stats
#frontend default_port_80
#  bind :80
#  reqadd X-Forwarded-Proto:\ http
#  maxconn 4096
#  default_backend default_service
#backend default_service
#  server srdapi_web_1 srdapi_web_1:8080 check inter 2000 rise 2 fall 3
#frontend http
#  acl app1 path_beg /CMNO
#use_backend callmanager_app1 if app1
#backend callmanager_app1 #backend that lists your servers. Use a balancing algorithm as per your need.
#  balance roundrobin
#  server norway_web_1 norway_web_1:8080

frontend http
    bind *:80
    mode http
    acl app1 path_beg /srd
    acl app2 path_beg /CMNO
    use_backend srd_app1 if app1
    use_backend callmanager_app1 if app2
    default_backend srd_app1

backend srd_app1 #backend that lists your servers. Use a balancing algorithm as per your need.
  server srdapi_web_1 srdapi_web_1:8080 check inter 2000 rise 2 fall 3

backend callmanager_app1 #backend that lists your servers. Use a balancing algorithm as per your need.
  balance roundrobin
  #server srdapi_callmanager srdapi_callmanager_1:8080
  #server srdapi_callmanager_2 srdapi_callmanager:8080
  server-template srdapi_callmanager_ 1-5 srdapi_callmanager_1:8080 check disabled
